---
import CVDownload from "./CVDownload.astro";

const personalImageAlt = "Miguel Fernandez";
const { i18n } = Astro.props
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p set:html={i18n.ABOUT.P1} />
    <p set:html={i18n.ABOUT.P2} />
    <p set:html={i18n.ABOUT.P3} />
  </div>

  <img
    width="200"
    height="200"
    src="https://avatars.githubusercontent.com/u/53372986?v=4"
    alt="Foto de perfil de Miguel Alejandro Fernández Arteaga"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
    />
  </article>
  <!-- Descarga de CV -->
  <div
    class="flex flex-col sm:flex-row gap-2 justify-center md:justify-start mt-2 md:mt-0">
    <CVDownload lang="es" />
    <CVDownload lang="en" />
  </div>

