---
import ExperienceItem from "./ExperienceItem.astro";

const { experience } = Astro.props
---

<div class="relative space-y-5 pl-4 sm:pl-6">
  <div class="pointer-events-none absolute bottom-0 left-[0.7rem] top-2 w-px bg-gradient-to-b from-sky-400/60 via-sky-500/30 to-transparent sm:left-[1rem]"></div>

  {
    experience.map((item, index) => (
      <div class="relative">
        <div class="absolute left-0 top-8 flex h-6 w-6 items-center justify-center rounded-full border border-sky-400/40 bg-slate-950 text-[10px] font-semibold text-sky-300 shadow-[0_0_0_6px_rgba(15,23,42,0.9)] sm:left-[0.125rem]">
          {index + 1}
        </div>

        <div class="pl-8 sm:pl-12">
          <ExperienceItem {...item} index={index + 1} />
        </div>
      </div>
    ))
  }
</div>
