---
const { class: className, id, wide = false } = Astro.props
const sizeClass = wide ? "lg:max-w-6xl md:max-w-4xl" : "lg:max-w-4xl md:max-w-2xl"
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 w-full mx-auto container ${sizeClass}`}
>
  <slot />
</section>
